.welcome-screen {
  position: fixed;
  inset: 0;
  background: #FCDCE9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  
  animation: fadeIn 1.2s ease forwards;
  cursor: url('../assets/pinkcursor.png'), auto;
}

.welcome-img {
  max-width: 500px;
  animation: pulse 2s infinite;
  cursor: url('../assets/catpointer.png'), auto !important;
}

.welcome-text {
  color: rgb(0, 0, 0);
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Great Vibes", cursive;
  margin-top: 1rem;
  animation: fadeInUp 1.5s ease;
  cursor: url('../assets/catpointer.png'), auto !important;
}


@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; visibility: hidden; }
}

/* Tablet styles */
@media (max-width: 1024px) {
  .welcome-img {
    max-width: 350px;
  }

  .welcome-text {
    font-size: 2.5rem;
    font-size: 4rem !important;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .welcome-img {
    max-width: 350px;
  }

  .welcome-text {
    font-size: 2.7rem !important;
    text-align: center;
    padding: 0 1rem;
  }
}

/* Small phones */
@media (max-width: 480px) {
  .welcome-img {
    max-width: 400px;
  }

  .welcome-text {
    font-size: 1.5rem;
    text-align: center;
    padding: 0 1rem;
  }
}
